/*

Oxygen Webhelp plugin
Copyright (c) 1998-2015 Syncro Soft SRL, Romania.  All rights reserved.
Licensed under the terms stated in the license file EULA_Webhelp.txt 
available in the base directory of this Oxygen Webhelp plugin.

*/

.footer{
    margin-top:1.5em;
    margin-bottom:1.5em;
    text-align:right;
    font-size:small;
    font-weight:normal;
    color:#999999;    
}

/* Override the jQuery defaults for the header, to 
  make more text available*/
h1.pageHeader,
h1.orientation-portrait{
    margin-left:40px !important;
    width:60%;
    text-align:left !important;
    text-overflow:ellipsis;    
}
h1.orientation-landscape {
    width:80%;
}

/* Make some room at the bottom */
div.body {
   margin-bottom:3em; 
}

/* Make sure the content does not overflow.*/
pre, code {
   white-space: pre-wrap;
}
pre{
   padding: 0.5em;
   background-color: #ffffff;
   border:1px dashed #ccc;
   margin: 0.2em;
}


/* Hide the separator before the in-page TOC. */
div.tocSeparatorBefore{
    margin:0; height:0;
}

/* After a JQuery Mobile list view we must provide a space. 
Otherwise the listview will overlap the content. */
*.ui-listview + *{
  margin-top: 25px;
}

img, .tablemob{
  max-width:100% !important;
}

.tablemob{
  overflow-x:auto !important;
  -webkit-overflow-scrolling: touch;
}

.tablemob table{
    border-spacing:0;
    border-collapse:collapse;
}

.tablemob table td, .tablemob table th{
  border:1px solid #999;
  padding:4px
}

.tablemob > * {
    -webkit-transform: translateZ(0px);
}


.content .topictitle1{font-size: 1.2em;}

.draftmode {
    background-image:url('../../img/draft.png');
    background-position:top left;
}

/* Use the admonitions from the oXygen WebHelp resources. */
.warningtitle,
div[class="warning"]>h3{
    background-image:url("../../img/warning.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}

.warningtitle {
    font-weight:bold;
}

.notetitle,
div[class="note"]>h3{
    background-image:url("../../img/note.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}


.cautiontitle,
div[class="caution"]>h3 {
    background-image:url("../../img/caution.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}

.importanttitle,
div[class="important"]>h3,
.attentiontitle,
div[class="attention"]>h3,
.noticetitle,
div[class="notice"]>h3{
    background-image:url("../../img/important.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}

.remembertitle,
div[class="remember"]>h3{
    background-image:url("../../img/remember.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}

.restrictiontitle,
div[class="restriction"]>h3{
    background-image:url("../../img/restriction.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}

.dangertitle,
div[class="danger"]>h3{
    background-image:url("../../img/danger.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}

.tiptitle,
div[class="tip"]>h3{
    background-image:url("../../img/tip.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}

.prevPage, .nextPage, .upPage{
    height: 1em !important;
}

table{
    border: 1px solid;
}